<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Approval App - @ViewBag.Title</title>
    @Styles.Render("~/Content/css/layout")
    @Scripts.Render("~/bundles/js/layout")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="loading-container">
        <div>
            <img src="~/Content/images/app/loading.gif" width="35" height="35"/>
        </div>
    </div>

    <div class="user-container">
        <a href="~/Home/Index">
            <div class="user-logo">
                <img src="~/Content/images/logo/app_logo.svg" title="Rapido Logo" />
            </div>
        </a>
        <div class="user-info-text-container">
            <div class="user-info-name-position-container">
                <div class="user-info-name">Zinedine Zidane</div>
                <div class="user-info-position">Coach</div>
            </div>
            <div class="user-image-container">
                <div>
                    <img src="~/Content/images/user_image.jpg" width="100" />
                </div>
            </div>
        </div>
    </div>

    <div class="left-menu-bar">
        <div class="left-menu-item-container" title="Notification" style="box-shadow: inset 0 -5px 0 black;">
            <div class="left-menu-item notification">
            </div>
            <div class="left-menu-item-icon-div">
                <img src="~/Content/images/icons/notification_icon.svg" />
            </div>
        </div>

        <div class="left-menu-item-container" title="Worklist" style="box-shadow: inset 0 -5px 0 black;">
            <div class="left-menu-item worklist">
            </div>
            <div class="left-menu-item-icon-div">
                <img src="~/Content/images/icons/worklist_icon.svg" />
            </div>
        </div>

        <div class="left-menu-item-container" title="Historical" style="box-shadow: inset 0 -5px 0 black;">
            <div class="left-menu-item historical">
            </div>
            <div class="left-menu-item-icon-div">
                <img src="~/Content/images/icons/historical_icon.svg" />
            </div>
        </div>

        <div class="left-menu-item-container" title="Settings" style="box-shadow: inset 0 -5px 0 black;">
            <div class="left-menu-item settings">
            </div>
            <div class="left-menu-item-icon-div">
                <img src="~/Content/images/icons/settings_icon.svg" />
            </div>
        </div>

        <div class="left-menu-item-container" title="Logout">
            <div class="left-menu-item logout">
            </div>
            <div class="left-menu-item-icon-div">
                <img src="~/Content/images/icons/logout_icon.svg" />
            </div>
        </div>
    </div>

    @RenderBody()
    <footer class="footer">
        <a class="site-link" style="" href="http://respectsolution.com/">&copy; @DateTime.Now.Year - Respect Solutions </a>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
